/* @media only screen and (max-width: 600px){
    .content{
        width: 100%;
    }
}

@media only screen and (max-width: 960px){
    .content{
        width: 50%;
    }
} */

.content{
    height: 40px;
    width: 30% ;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#purple{
    background-color: purple;
}

#grey{
    background-color: grey;
}